.banner {
  width: 100%;
  min-width: 1000px;
}
.checkout {
  display: flex;
  /* flex-wrap: wrap; */
  /* height: max-content; */
  margin: 20px;
}

.checkout_left {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  min-width: 640px;
  width: 100%;
}
.checkout_title {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.checkout_right {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-width: 300px;
  max-width: 300px;
}
.subtotal {
  margin-top: 10px;
  background-color: #fff;
  padding: 20px;
}
.total {
  font-size: large;
}
.subtotal > button {
  margin-top: 10px;
  background: #ffd814;
  border-color: #fcd200;
  border-radius: 20px;
  border-style: solid;
  cursor: pointer;
  height: 31px;
  width: 237px;
  color: #000;
}
